html,
body,
p
{
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
}

.container,
table {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -50vmin;
 width: 100vmin;
 height: 100vmin;
 }

.container {
  z-index: 10;
  pointer-events: none;

}

.figure {
  width: calc(100vmin / 8);
  height: calc(100vmin / 8);
  font-size: 3rem;
  text-align: center;
  color: #000;
  position: absolute;
  transition: all 218ms ease;
}

td {
 width: 8.4%;
 height: 80px;
}

.black {
  background-color: #000;
}

.highlight {
    animation: shadow 1s infinite;
}

@keyframes shadow {

  0% {
    box-shadow: 0px 0px 10px 3px #370DD6 inset;
  }

  50% {
    box-shadow: 0px 0px 10px 5px #2A0F95 inset;
  }

  70% {
    box-shadow: 0px 0px 15px 7px #370DD6 inset;
  }

  100% {
    box-shadow: 0px 0px 20px 9px #2A0F95 inset;
  }
}

p {
  font-size: 3rem;
  text-align: center;
  color: #000;
}

.white {
  color: #fff;
}
