*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%; }

.chessboard {
  position: relative;
  top: 0;
  left: 50%;
  margin-left: -50vmin;
  width: 100vmin;
  height: 100vmin;
  display: flex;
  flex-direction: column; }
  .chessboard__table {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50vmin;
    width: 100vmin;
    height: 100vmin; }
  .chessboard__tilted {
    /* ... */ }
  .chessboard__row {
    width: 100%;
    height: 12.5%;
    display: flex;
    flex-direction: row; }
  .chessboard__cell {
    width: 12.5%;
    height: 100%;
    background-color: #fff; }
  .chessboard__cell--black {
    background-color: #000; }
  .chessboard__cell--highlight {
    height: 100%; }
  .chessboard__cell--highlight:after {
    display: block;
    content: "";
    position: relative;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    animation: shadow 1s infinite; }
  .chessboard__figures {
    width: calc(100vmin / 8);
    height: calc(100vmin / 8);
    font-size: 3rem;
    text-align: center;
    color: #000;
    position: relative;
    z-index: 10;
    transition: all 218ms ease; }

@keyframes shadow {
  0% {
    box-shadow: 0px 0px 10px 3px #370DD6 inset; }
  50% {
    box-shadow: 0px 0px 10px 5px #2A0F95 inset; }
  70% {
    box-shadow: 0px 0px 15px 7px #370DD6 inset; }
  100% {
    box-shadow: 0px 0px 20px 9px #2A0F95 inset; } }
